@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar{
  display:none;
}

/* CSS */
.card-element-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-inline: auto;
}

/* Style the input fields within the CardElement */
.card-element-container .InputElement {
  height: 40px;
  padding: 10px;
  border: 1px solid #bb4d4d;
  border-radius: 4px;
}

/* Style the CardElement when it's focused */
.card-element-container .InputElement--focus {
  border-color: #007bff; /* Change the border color on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a shadow on focus */
}

/* Style the CardElement when it's invalid */
.card-element-container .InputElement--invalid {
  border-color: #ff5252; /* Change the border color for invalid input */
}

/* Style the CardElement icon */
.card-element-container .Icon {
  color: #666; /* Change the icon color */
}






